body {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
.logoutBtn,
.logoutBtn div,
.logoutBtn span,
.logoutBtn:hover,
.logoutBtn div:hover,
.logoutBtn span:hover {
  font-family: inherit !important;
}
.navbar .navbar-nav .nav-item .nav-link {
  line-height: 26px;
}
.modal-dialog.modal-xl {
  max-width: 900px;
  background: #222831;
}
.modal.show .modal-dialog.modal-xl {
  -webkit-transform: translate(0, 5%);
  transform: translate(0, 5%);
}
.modal-xl .modal-content {
  background: #222831;
}

.ag-theme-balham-dark {
  background-color: #171941 !important;
  font-size: 14px !important;
}
.ag-theme-balham-dark .ag-root {
  border: 1px solid #252858 !important;
}

.ag-theme-balham-dark .ag-cell {
  line-height: 36px !important;
}
.ag-theme-balham-dark .ag-row {
  border-color: #252858 !important;
  color: #fff !important;
}
.ag-theme-balham-dark .ag-header {
  background-color: #171941 !important;
  border-bottom: 1px solid #252858 !important;
}
.ag-theme-balham-dark .ag-row-even {
  background-color: #171941 !important;
}
.ag-theme-balham-dark .ag-row-odd {
  background-color: #1f2144 !important;
}

.ag-theme-balham-dark input,
.ag-theme-balham-dark select {
  background-color: #333458 !important;
  color: #f5f5f5 !important;
  border-color: #4a4a4a !important;
  padding: 5px;
}

.navbar-brand {
  color: #ffffff !important;
}
.user-card {
  min-height: 150px;
}
.text-on-back {
  font-size: 4rem;
  margin: 0;
  line-height: 48px;
}
.text-on-back-sm {
  position: relative;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.2) !important;
  font-size: 2rem;
  margin: 0;
  line-height: 34px;
}
.profile-title {
  margin: 5px 0 10px 0;
}
