body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/img/bgr.jpg");
  background-size: contain;
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-origin: unset; */
}
.h-100vh {
  min-height: 100vh;
}
.single-welcome-slide h2 {
  font-size: 90px;
  color: #ffffff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 700;
}
.single-welcome-slide h5 {
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.about-us-countdown-area {
  position: relative;
  z-index: 1;
  background-color: #151853;
}

.about-us-countdown-area .about-content-text h6 {
  font-size: 14px;
  font-weight: 500;
  color: #df42b1;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid #4b4d7b;
  margin-bottom: 20px;
  padding-bottom: 5px;
  display: inline-block;
}

.about-us-countdown-area .about-content-text h3 {
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.about-us-countdown-area .about-content-text p {
  color: #ffffff;
}

.about-us-countdown-area .countdown-up-area .countdown-content-text h6 {
  font-size: 14px;
  text-transform: uppercase;
  color: #df42b1;
  font-weight: 400;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.about-us-countdown-area .countdown-up-area .countdown-content-text h4 {
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.about-us-countdown-area .clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
}
.about-us-countdown-area .clock div {
  font-size: 62px;
  font-weight: 600;
  padding: 20px 5px;
  width: 20%;
  margin: 0 15px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  text-align: center;
  line-height: 1;
}
.about-us-countdown-area .clock div span {
  margin-top: 5px;
  font-size: 18px;
  color: #5d5e8d;
  font-weight: 500;
  display: block;
}
.breadcrumb-area {
  position: relative;
  z-index: 1;
  height: 300px;
}
.breadcrumb-content {
  position: relative;
  z-index: 1;
  margin-top: 105px;
}

.our-speaker-area {
  position: relative;
  z-index: 1;
  background-color: #151853;
  min-height: 50vh;
}

.single-speaker-area {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 40px;
  border-radius: 10px;
}

.single-speaker-area .speaker-single-thumb {
  position: relative;
  z-index: 1;
  border-radius: 10px;
}
.single-speaker-area .social-info {
  position: absolute;
  top: -180px;
  right: 0;
  z-index: 22;
  background-color: #df42b1;
  padding: 15px;
  border-radius: 0 10px 0 10px;
  text-align: center;
  -webkit-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
}

.single-speaker-area .social-info a {
  display: block;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 5px;
}

.single-speaker-area .speaker-info {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 22;
}

.bg-gradient-overlay-2::after {
  border-radius: 10px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.8)),
    color-stop(30%, rgba(0, 0, 0, 0.2)),
    to(rgba(0, 0, 0, 0))
  );
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -o-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0) 100%
  );
}

.breadcrumb-content .breadcrumb {
  padding: 0;
  background-color: transparent;
  margin-bottom: 0;
}
.breadcrumb-content .breadcrumb .breadcrumb-item {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
}
.breadcrumb-area .page-title {
  color: #ffffff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 700;
}
